mixin breadcrumbs(items, last, type)
    case type
        when 2
            .breadcrumbs.breadcrumbs--2
                .container.breadcrumbs__container
                    ul.breadcrumbs__list.list-reset
                        each item in items
                            li.breadcrumbs__item
                                if (items.length === 1)
                                    a.breadcrumbs__link(href="index.html")= item
                                else
                                    a(href="index.html").breadcrumbs__link= item
                        if last
                            li.breadcrumb__item
                                a.breadcrumbs__link= last
        when 3
            .breadcrumbs.breadcrumbs--3
                .container.breadcrumbs__container
                    ul.breadcrumbs__list.list-reset
                        each item in items
                            li.breadcrumbs__item
                                if (items.length === 1)
                                    a.breadcrumbs__link(href="index.html")= item
                                else
                                    a(href="index.html").breadcrumbs__link= item
                        if last
                            li.breadcrumb__item
                                a.breadcrumbs__link= last
        when 4
            .breadcrumbs.breadcrumbs--4
                .container.breadcrumbs__container
                    ul.breadcrumbs__list.list-reset
                        each item in items
                            li.breadcrumbs__item
                                if (items.length === 1)
                                    a.breadcrumbs__link(href="index.html")= item
                                else
                                    a(href="index.html").breadcrumbs__link= item
                        if last
                            li.breadcrumb__item
                                a.breadcrumbs__link= last
        default
            .breadcrumbs
                .container.breadcrumbs__container
                    ul.breadcrumbs__list.list-reset
                        each item in items
                            li.breadcrumbs__item
                                if (items.length === 1)
                                    a.breadcrumbs__link(href="index.html")= item
                                else
                                    a(href="index.html").breadcrumbs__link= item
                        if last
                            li.breadcrumb__item
                                a.breadcrumbs__link= last
if page === "services"
    +breadcrumbs(["Главная"], "Услуги", 2)
else if page === "prices-individuals"
    +breadcrumbs(["Главная", "Цены"], "Физические лица", 3)
else if page === "prices-organizations"
    +breadcrumbs(["Главная", "Цены"], "Организации", 3)
else if page === "works"
    +breadcrumbs(["Главная"], "Наши работы", 2)
else if page === "service"
    +breadcrumbs(["Главная", "Услуги"], "Услуга")
else if page === "work"
    +breadcrumbs(["Главная", "Наши работы"], "Работа", 3)
else if page === "testimonials"
    +breadcrumbs(["Главная"], "Отзывы", 2)
else if page === "contacts"
    +breadcrumbs(["Главная"], "Контакты", 2)
else if page === "articles"
    +breadcrumbs(["Главная"], "Статьи", 2)
else if page === "article"
    +breadcrumbs(["Главная", "Статьи"], "Статья")
else if page === "vacancies"
    +breadcrumbs(["Главная"], "Вакансии", 2)
else if page === "promotions"
    +breadcrumbs(["Главная"], "Акции", 2)
else if page === "not-found"
    +breadcrumbs(["Главная"], "404", 4)
else if page === "policy"
    +breadcrumbs(["Главная"], "Политика обработки персональных данных", 3)
else if page === "about"
    +breadcrumbs(["Главная"], "О компании")